@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html{
    background-color: rgb(32, 38, 50);
}

#container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 250px;
    width: 90vw;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.336);
    background-color: rgb(49, 58, 73);
}

#detail {
    margin: 15px;
    width: 70vw;
}

#title{
    color: rgb(83, 255, 171);
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 2px;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(206, 226, 233);
    text-align: center;
    margin: 10px 0px;
    width: 75vw;
    height: 45%;
    font-size: 1.2rem;
}

#button{
    position: absolute;
    top: 195px;
    background-color: rgb(83, 255, 171);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 30px;
    cursor: pointer;
}

@media (min-width:750px){
    #container{
        width:30%;
    }

    #title{
        margin-bottom: 10px;
    }

    #content{
        width: 90%;
    }

    #detail{
        width: 80%;
        margin-bottom: 15px;
    }
}